{form searchInForumForm}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            {input search_form}
        </div>            
        {input submit}
    </div>                               
{/form} 
