
{block modalBody}
ss
{/block}

{block modalTitle}
awdwa
{/block}

{block modalFooter}awdaw{/block}



    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
