{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Sandbox</title>

    <!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {block head}{/block}
</head>

<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-1">
            <div class="container-fluid">
            <ul class="navbar-nav">

            <li class="nav-item {if $presenter->getName() === 'Forum:Index' || $presenter->getName() === 'Forum:Post' || $presenter->getName() === 'Forum:Forum' }active{/if}">
                <a class="nav-link" href="{link Index:default}">Index</a></li>

            {if $user->loggedIn}
                <li class="nav-item">
                    <a class="nav-link" href="{plink User:logout}">{_logout}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{plink Forum:default}">{_menu_forums}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{plink Topic:default}">{_menu_topics}</a>
                </li>                  
                <li class="nav-item">
                    <a class="nav-link" href="{plink Post:default}">{_menu_posts}</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link" href="{plink Report:default}">{_menu_reports}</a>
                </li>                 
            {else}
                
                <li class="nav-item">
                    <a class="nav-link" href="{plink :Moderator:User:login}">{_login}</a>
                </li>                
            {/if}
        </ul>
        <ul class="navbar-nav navbar-right">
            {if $user->isInRole('admin')}
            <li class="nav-item">
                <a class="nav-link" href="{link :Admin:Index:default}">{_admin}</a>
            </li>
            {/if}
            <li class="nav-item">
                <a class="nav-link" href="{link :Forum:Index:default}">{_forum}</a>
            </li>
        </ul>       
    </div>
</nav>

<div class="col-sm-4 main">
    {foreach $flashes as $flash}
        <div class="alert alert-{$flash->type}">{_$flash->message}</div>
    {/foreach}
</div>

<div class="container-fluid">
    <div class="row">
        {include content}
    </div>
</div>
    
{import '../../presenters/templates/modal.latte'}
{include modal} 

{block scripts}
    <script src="{$basePath}/js/jquery-3.3.1.min.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/js/main.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{/block}
</body>
</html>
