log/*
temp/*
vendor/*
vendor/
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
log
build
nbproject/
www/avatars/*
./idea

core
nbproject/*
nbproject/project.properties
nbproject/project.xml
