log/*
temp/*
vendor/*
vendor/
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
log
build
nbproject/
www/avatars/*
www/ranks/*
www/postFiles/*
.idea
idea
nbproject

core
nbproject/*
nbproject/project.properties
nbproject/project.xml
