{define title}{_menu_pm}{/define}

{block content}
<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbEdit}
    </div>
</div>
        
<div class="col-sm-12 main">
    {if $id}
        <div class="card">
            <div class="card-header">
                <p>{_user_name}:{$item->user_name}</p>
            </div>

            <div class="card-header">
                <p>{_pm_subject}:{$item->pm_subject}</p>
            </div>
            <div class="card-block p-1">
                {$item->pm_text}
            </div>
        </div>
    {else}
        {snippet form}
            {control editForm}
        {/snippet}
    {/if}
</div>

<div class="col-sm-12">
    <a href="{plink Pm:report, $id}" title="{_pm_report}">
        <i class="fas fa-exclamation"></i>
    </a>
</div>

<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbEdit}
    </div>
</div>

{/block}