{block content}
<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbEdit}
    </div>
</div>
        
<div class="col-sm-12 main">
    {snippet form}
        {control editForm}
    {/snippet}
</div>

<div class="col-sm-12">
    <a href="{plink Pm:report, $id}">{_pm_report}</a>
</div>

<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbEdit}
    </div>
</div>

{/block}