{define title}{_"Search user"}{/define}

{define breadCrumb}
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbUserSearch}
        </div>
    </div>
{/define}

{block content}
    {include breadCrumb}
        
<div class="col-sm-12 main">
    {snippet form}
        {control userSearch}
    {/snippet}
</div>

    {include breadCrumb}
{/block}
