{define title}{_menu_smilie}{/define}

{define breadCrumb}
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbEdit}
        </div>
    </div>
{/define}

{block content}
    {include breadCrumb}

    {include breadCrumb}
{/block}