#   
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    databases:
        username:  "root"
        password:  ""

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
        expiration: 14 days
        autoStart: true # výchozí hodnota je 'smart'


#database:
#	dsn: 'mysql:host=127.0.0.1;dbname=test'
#	user:
#	password:
#	options:
#   		lazy: yes

services:
    router: App\RouterFactory::createRouter
    GroupsManager: 
        factory: App\Models\GroupsManager
        inject: yes
        setup:
                - factory                
    IndexManager:
        factory:  App\Models\IndexManager
        #setup:
        #        - factory
    ForumsManager: 
        factory: App\Models\ForumsManager
        inject: yes
        setup:
                - factory
    PostsManager: 
        factory: App\Models\PostsManager
        inject: yes
        setup:
                - factory
                - set
    UsersManager: 
        factory: App\Models\UsersManager
        inject: yes
        setup:
                - factory
    ThanksManager: 
        factory: App\Models\ThanksManager
        inject: yes
        setup:
                - factory
    TopicsManager: 
        factory: App\Models\TopicsManager
        inject: yes
        setup:
            - factory
    CategoriesManager: 
        factory: App\Models\CategoriesManager
        inject: yes
        setup:
                - factory
    RolesMnager:
        factory: App\Models\RolesManager
        inject: yes
        setup:
                - factory
    RanksManager:
        factory: App\Models\RanksManager
        inject: yes
        setup:
                - factory
    LanaguagesManager:        
        factory: App\Models\LanguagesManager
        inject: yes
        setup:
                - factory
    Users2Roles: 
        factory: App\Models\Users2Roles
        inject: yes
    Group2User:
        factory: App\Models\Users2Groups
        inject: yes
    Users2Forums:
        factory: App\Models\Users2Forums
        inject: yes
    authenticator: App\Authenticator

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
    driver: mysql
    port: 5433
    database: bb
    username: %databases.username%
    password: %databases.password%
    lazy: TRUE   

di:
    debugger: true  # vypne DI panel v Debugger baru

tracy:
    maxLen: 500
    maxDepth: 10