#   
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    database:
        username: "root"
        password: ""
        host: localhost
        databaseName: bb
    defaultLanguage: "czech"
    avatars:
        relativeDir: /avatars
        dir: %wwwDir%%avatars.relativeDir%
        maxWidth: 2000
        maxHeight: 2000        
        maxFileSize: 5242880
        enabledExtension:
            - jpg
            - jpeg
            - png
            - gif
    ranks:
        relativeDir: /ranks
        dir: %wwwDir%%ranks.relativeDir%
        maxHeight: 200
        maxWidth: 50
        maxFileSize: 5120
        enabledExtension:
            - jpg
            - jpeg
            - png
            - gif
    topics:
        pagination:
            itemsPerPage: 25
            itemsArountPagination: 5
        cache:
            lastTopic: 1 hour
            totalTopics: 1 hour
            primaryKey: 10 day
        logViews: true
    posts:
        pagination:
            itemsPerPage: 25
            itemsArountPagination: 5
        cache:
            totalPosts: 1 hour
            primaryKey: 10 day
        minLength: 5 # int or null
        maxLength: 100000 # int or null
    users:
        cache:
            lastUser: 1 hour
            totalUser: 1 hour
            primaryKey: 10 day
        canChangeUserName: false
        canDelete: false
        canDeletePostCount: false
        neededLogin: true
        minUserNameLength: 3
        minUserPasswordLength: 8
    search:
        minLength: 3
    mail:
        from: rendix2@seznam.cz
        templateDir: %wwwDir%/controls/templates/emails
    databaseBackupDir: %tempDir%/dumps        

mail:
    smtp: true
    host: smtp.gmail.com
    username: username@gmail.com
    password: "password"
    secure: ssl
    timeout: 1000

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter
session:
        expiration: 14 days
        autoStart: true # výchozí hodnota je 'smart'
        savePath: "%tempDir%/sessions"
        debugger: true

services:
    router: App\RouterFactory::createRouter
    GroupsManager: 
        class: App\Models\GroupsManager        
    ForumsManager: 
        class: App\Models\ForumsManager
    PostsManager: 
        class: App\Models\PostsManager
    UsersManager: 
        factory: App\Models\UsersManager
        inject: yes
    ThanksManager: 
        class: App\Models\ThanksManager
    TopicsManager: 
        class: App\Models\TopicsManager
    CategoriesManager: 
        class: App\Models\CategoriesManager
    RanksManager:
        factory: App\Models\RanksManager
        inject: yes
    LanaguagesManager:        
        class: App\Models\LanguagesManager
    Forums2GroupsManager: 
        class: App\Models\Forums2GroupsManager
    Users2GroupManager:
        class: App\Models\Users2GroupsManager
    Users2ForumsManager:
        class: App\Models\Users2ForumsManager
    Mails2UsersManager:
        class: App\Models\Mails2UsersManager
    TopicWatchManager:
        class: App\Models\TopicWatchManager
    ReportManager:
        class: App\Models\ReportsManager
    SessionsManager:
        class: App\Models\SessionsManager
    GridFilter:
        factory: App\Controls\GridFilter
        setup:
            - factory
    EmailManager:
        class: App\Models\MailsManager
    ModeratorsManager:
        class: App\Models\ModeratorsManager
    FaqManager:
        class: App\Models\FaqManager
    BanManager:
        class: App\Models\BansManager
    SmiliesManager:
        class: App\Models\SmiliesManager
    CacheManager:
        class: \App\Models\CacheManager
    PMManager:
        class: \App\Models\PMManager
    Authenticator:
        class: App\Authenticator
    Authorizator:
        class: App\Authorizator
    WwwDir:
        class: App\Controls\WwwDir(%wwwDir%)
    AppDir:
        class: App\Controls\AppDir(%appDir%)
    Avatars:
        class: App\Controls\Avatars(%avatars%)
    Ranks:
        class: App\Controls\Ranks(%ranks%)
    TempDir:
        class: App\Controls\TempDir(%tempDir%)
    CacheDir:
        class: App\Controls\CacheDir(%tempDir%/cache)
    TopicSetting:
        class: App\Controls\TopicsSetting(%topics%)
    TranslatorFactory:
        class: App\Services\TranslatorFactory
    PremissionFactory:
        class: App\Authorization\PermissionFactory
    - App\Authorization\Authorizator(@App\Authorization\PermissionFactory::create())
    DefaultLanguage:
        class: App\Controls\DefaultLanguage(%defaultLanguage%)
    Email:
        class: App\Controls\Email(%mail.from%)
    BBMailer:
        class: App\Controls\BBMailer
    Users:
        class: App\Controls\Users(%users%)
    ChangePasswordFactory:
        class: App\Services\ChangePasswordFactory
    DeleteAvatarFactory:
        class: App\Services\DeleteAvatarFactory
    MysqlDumper:
        class: Ifsnop\Mysqldump\Mysqldump('mysql:host=%database.host%;dbname=%database.databaseName%',%database.username%, %database.password%)
    DatabaseBackupDir:
        class: App\Config\DatabaseBackupDir(%databaseBackupDir%)
    PostFacade:
        class: App\Models\PostFacade
    TopicFacade:
        class: App\Models\TopicFacade
    ForumFacade:
        class: App\Models\ForumFacade
    CategoryFacade:
        class: App\Models\CategoryFacade
    UserFacade:
        class: App\Models\UserFacade
    ThanksFacade:
        class: App\Models\ThanksFacade
        
extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22

dibi:
    driver: mysql
    port: 5433
    database: %database.databaseName%
    username: %database.username%
    password: %database.password%
    lazy: TRUE   

di:
    debugger: true  # vypne DI panel v Debugger baru

tracy:
    maxLen: 500
    maxDepth: 10