{block content}

    <div class="col-sm-12">
        <div class="float-left">
            <h1>{_Topic} {$topic->topic_name}</h1>
            <h6>{_topic_post_count}: {$topic->topic_post_count}</h6>
        </div>
        <div class="float-right">
            {if $user->isAllowed($presenter->getParameter('forum_id'), 'post_add') && !$topic->topic_locked }
                <a class="btn btn-primary"
                   href="{link Post:edit $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id')}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {_post_add}
                </a>
            {/if}

            {if $user->isAllowed($presenter->getParameter('forum_id'), 'topic_thank') && $canThank}
                <a class="btn btn-primary"
                   href="{link Topic:thank $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id')}">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {_topic_thank}
                </a>
            {/if}
        </div>
    </div>

    {if $thanks}
        <div class="col-sm-12">
            <div class="float-left">

                <span>{_user_who_thank}</span>

                {foreach $thanks as $thank}
                    <a href="{link User:profile, $thank->user_id}">{$thank->user_name}</a>
                    {if !$iterator->isLast()},{/if}
                {/foreach}
            </div>
        </div>
    {/if}

    <div class="col-sm-12 main">
        <div class="float-left">
            {control breadCrumbAll}
        </div>                           
        <div class="float-right">
            {control paginator}
        </div>
    </div>

    {foreach $posts as $post}
        <div class="col-sm-12 pb-3">
            <div class="row">
                {var $rankUser}
                {foreach $ranks as $rank}
                    {if $post->user_post_count >= $rank->rank_from && $post->user_post_count <= $rank->rank_to}
                        {var $rankUser = $rank}
                    {/if}
                {/foreach}

                <div class="col-sm-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <a href="{link User:profile $post->post_user_id}">{$post->user_name}</a>
                        </div>
                        <div class="card-block p-1">

                            {if $post->user_avatar}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="{$basePath}{$avatarsDir}/{$post->user_avatar}"
                                             class="rounded-circle img-fluid" alt="{$post->user_name}"
                                             title="{$post->user_name}">
                                    </div>
                                </div>
                            {/if}

                            <div class="col-sm-12 mt-1">
                                <div class="row">
                                    <div class="card mr-1">
                                        <div class="card-header">{_Posts}</div>
                                        <div class="card-block p-1">{$post->user_post_count}</div>
                                    </div>

                                    <div class="card mr-1">
                                        <div class="card-header">{_Topics}</div>
                                        <div class="card-block p-1">{$post->user_topic_count}</div>
                                    </div>

                                    <div class="card mr-1">
                                        <div class="card-header">{_Thanks}</div>
                                        <div class="card-block p-1">{$post->user_thank_count}</div>
                                    </div>

                                    <div class="card mr-1">
                                        <div class="card-header">{_Rank}</div>
                                        <div class="card-block p-1">
                                            {if $rankUser}
                                                {$rankUser->rank_name}
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card h-100">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h2>{$post->post_title}</h2>
                                </div>
                                <div class="col-sm-4">
                                    {$post->post_add_time|date:'%d.%m.%Y %H:%M:%S'}
                                </div>
                                <div class="col-sm-3">
                                    {if $topic->topic_locked}
                                        <span class="badge badge-secondary">{_topic_locked}</span>
                                    {elseif $post->post_locked}
                                        <span class="badge badge-secondary">{_post_locked}</span>
                                    {else}
                                        <a href="{link Post:edit, $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id'), $post->post_id}" title="{_post_edit}">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    {/if}
                                    <a href="{link Post:report, $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id'), $post->post_id, $presenter->getParameter('page')}" title="{_post_report}">
                                        <i class="fas fa-exclamation"></i>
                                    </a>

                                    {if $user->isAllowed($presenter->getParameter('forum_id'), 'post_delete')}
                                        <a href="{link Post:delete, $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id'), $post->post_id, $presenter->getParameter('page')}" title="{_post_delete}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {/if}
                                    
                                    <a href="{plink :Moderator:Post:edit $post->post_id}" title="{_post_moderate}">
                                        <i class="fas fa-info"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="card-block p-3">
                            {$post->post_text}
                            <br>
                            <hr>
                            <div>
                                <h6>{$post->user_signature}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/foreach}


    {if $forum->forum_fast_reply && !$topic->topic_locked}
        <div class="col-sm-6">
            {control fastReply}
        </div>
    {/if}

    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbAll}
        </div>
        <div class="float-right">
            {control paginator}
        </div>
    </div>

    <div class="col-sm-12">
        <div class="float-right">
            {control jumpToForum}
        </div>
    </div>


    <div class="col-sm-12">
        <div class="float-right">
            {if $topicWatch}
                <a href="{link Topic:stopWatch $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id'), $presenter->getParameter('page')}">{_topic_stop_watch}</a>
            {else}
                <a href="{link Topic:startWatch $presenter->getParameter('forum_id'), $presenter->getParameter('topic_id'), $presenter->getParameter('page')}">{_topic_start_watch}</a>
            {/if}

            <a href="{link Topic:watchers, $presenter->getParameter('topic_id')}">{_topic_wacthers}</a>
        </div>
    </div>
{/block}
