{block content}
<div class="row">
    <div class="col-sm-6">
        {control editUserForm}
    </div>
    <div class="col-sm-6">                
        {control changePasswordControl $user->getId()}
    </div>
</div>


{/block}
