{block content}    
<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbReport}
    </div>
</div>
        
<div class="col-sm-12 main">
{control reportUserForm}
</div>

<div class="col-sm-12">
    <div class="float-left">
        {control breadCrumbReport}
    </div>
</div>    
{/block}