{define title}{_user_report}{/define}

{define breadCrumb}
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbReport}
        </div>
    </div>
{/define}

{block content}    
    {include breadCrumb}
        
<div class="col-sm-12 main">
{control reportUserForm}
</div>

    {include breadCrumb}
{/block}