{define title}{_user_admin_contact}{/define}

{define breadCrumb}
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbReport}
        </div>
    </div>
{/define}

{block content}
    {include breadCrumb}

    <div class="col-sm-8 main">
        {control sendMailToAdmin}
    </div>

    {include breadCrumb}
{/block}
