{block content}

    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbSendMailToAdmin}
        </div>
    </div>

    <div class="col-sm-8 main">
        {control sendMailToAdmin}
    </div>
    
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbSendMailToAdmin}
        </div>
    </div>
{/block}
