services:
    TranslatorFactory:
        class: App\Services\TranslatorFactory
    UserLoginFormFactory: App\Services\UserLoginFormFactory
    ChangePasswordFactory:
        class: App\Services\ChangePasswordFactory
    DeleteAvatarFactory:
        class: App\Services\DeleteAvatarFactory

    PremissionFactory:
        class: App\Authorization\PermissionFactory
    Authorizator: App\Authorization\Authorizator(@App\Authorization\PermissionFactory::create())
