{block content}

<table class="table table-striped table-bordered list-table table-hover table-fixed-header table-last-center">
    <thead class="thead-light">
        {control gridFilter}
    </thead>
{foreach $forums as $forum}
    <tr>
        <td>
            <a href="{plink Topic:topics, $forum->forum_id}">{$forum->forum_id}</a>
        </td>
        <td>{$forum->forum_name}</td>
        <td>
            <a href="{plink Forum:edit, $forum->forum_id}">Editovat</a>
        </td>            
    </tr>
{/foreach}
<table>
