{block content}
<br><span>{_gridfilter_used_filters}:</span><br>
    
    {foreach $filters as $colum => $text}
        <span class="badge badge-primary">{_$text}</span>
    {/foreach}  
{/block}
