{block content}
<div class="col-sm-12 main">   
{control editForm}
</div>

{if  $presenter->getParameter('id') && $item->rank_file}
    <img src="{$basePath}/ranks/{$item->rank_file}">
{/if}

{/block}
