{block content}

<table>
    

    {foreach $items as $item}
        <tr>
            <td>{$item->topic_id}</td>
            <td>{$item->topic_name}</td>
        </tr>        
    {/foreach}
</table>
{/block}
