{define title}{_forum_rules}{/define}

{block content}
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbRules}
        </div>
    </div>

    <div class="col-sm-12 main">
        {$forum->forum_rules}
    </div>
                
    <div class="col-sm-12">
        <div class="float-left">
            {control breadCrumbRules}
        </div>
    </div>        
{/block}