{define menu_foreach}
    {foreach $menu as $item}
        <li class="nav-item {if ':'.$presenter->name.':'.$presenter->action === $item['presenter']}active{/if}">
            {if isset($item['submenu']) && is_array($item['submenu'])}
                {include menu, menu => $item['submenu']}
            {else}
                <a href="{plink $item['presenter']}" class="nav-link">{_$item['title']}</a>
            {/if}
        </li>
    {/foreach}
{/define}

{block menu}
<ul class="navbar-nav navbar-left">
    {include menu_foreach, menu => $leftMenu}
</ul>

<ul class="navbar-nav navbar-right">
    {include menu_foreach, menu => $rightMenu}
</ul>
{/block}
