{block menu}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-1">
            <div class="container-fluid">

<ul class="navbar-nav navbar-left">
    {foreach $menu as $item}
        {dump $presenter->name.':'.$presenter->action}
        {dump $item['presenter']}
        <li class="nav-item {if ':'.$presenter->name.':'.$presenter->action === $item['presenter']}active{/if}">{if isset($item['submenu']) && is_array($item['submenu'])}
        {include menu, menu => $item['submenu']}
    {else}
        {dump $item}
        <a href="{plink $item['presenter']}" class="nav-link">{_$item['title']}</a>
    {/if}</li>
    {/foreach}
</ul>
    </div>
    </nav>
{/block}
