{block content}
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">{_Login}</div>
            <div class="card-block p-3">
                {control loginForm}
            </div>
        </div>
    </div>
{/block}